<div class="wpomp_locations">
    <div class="wpomp_locations_head">
        <div class="wpomp_location_title">
            <a href="" class="place_title" data-zoom="{marker_zoom}" data-marker="{marker_id}">{marker_title}</a>
        </div>
        <div class="wpomp_location_meta">
            <span class="wpomp_location_category fc-badge info">{marker_category}</span>
        </div>
    </div>
    <div class="wpomp_locations_content">
        {marker_image} {marker_message}
    </div>
    <div class="wpomp_locations_foot"></div>
</div>